 <md-grid-list cols="6"  rowHeight="400px">
    <md-grid-tile
      [colspan]="1"
      [rowspan]="1">
      AAAA
    </md-grid-tile>
   <md-grid-tile
     [colspan]="1"
     [rowspan]="1">
     AAAA
   </md-grid-tile>
   <md-grid-tile
     [colspan]="1"
     [rowspan]="1">
     AAAA
   </md-grid-tile>
   <md-grid-tile
     [colspan]="1"
     [rowspan]="1">
     AAAA
   </md-grid-tile><md-grid-tile
   [colspan]="1"
   [rowspan]="1">
   AAAA
 </md-grid-tile>
   <md-grid-tile
     [colspan]="1"
     [rowspan]="1">
     AAAA
   </md-grid-tile>
   <md-grid-tile
     [colspan]="1"
     [rowspan]="1">
     AAAA
   </md-grid-tile>


 </md-grid-list>
