.header-spacer {
  flex: 1 1 auto;
}

.nav-list{
  display:flex;
  flex-direction:row;
  padding-top:0px;
  padding-right:20px;
  font-size: large;
  color: brown;
}

.nav-bar-button{
  font-size: 18px;
  color: white;
}
