<md-toolbar color="primary">
  <md-list class="nav-list" style="display:flex;flex-direction:row;">
    <md-list-item *ngFor="let link of links">
     <button md-button class="nav-bar-button" (click)="navigateTo(link)">{{link}}</button>
    </md-list-item>
  </md-list>
  <span class="header-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu" >
    <md-icon>more_vert</md-icon>
  </button>
  <md-icon class="example-icon"></md-icon>
</md-toolbar>


  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="navigateTo('admin')">
      <md-icon>settings</md-icon>
      <span>Admin</span>
    </button>
    <button md-menu-item (click)="navigateTo('pages/page1')">
      <span>Page1</span>
    </button>
    <button md-menu-item (click)="navigateTo('pages/page2')">
      <span>Page2</span>
    </button>
    <button md-menu-item (click)="logout()">
      <md-icon>eject</md-icon>
      <span>Logoff</span>
    </button>
  </md-menu>

<md-card>
  <md-card-header>
    DASHBOARD
  </md-card-header>


  <simple-button inputLabel="HELLO"></simple-button>


</md-card>

<!--
<md-card class="full-height">
  <md-card-header>
    DASHBOARD
  </md-card-header>


<simple-button inputLabel="HELLO"></simple-button>


</md-card>
-->
<md-grid-list cols="2"  rowHeight="400px">
  <md-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <ngx-charts-advanced-pie-chart
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-advanced-pie-chart>
  </md-grid-tile>
  <md-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <ngx-charts-bar-horizontal
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
  </md-grid-tile>
  <md-grid-tile
    [colspan]="2"
    [rowspan]="1">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
  </md-grid-tile>
</md-grid-list>
