<md-toolbar color="primary">
  Angular Template/Seed Project
</md-toolbar>
<div class="flex vbox main-center cross-center wrap full-height">
    <md-card class="login-card">
      <md-card-header class="main-center">
        LOGIN
      </md-card-header>
      <md-card-content>
        <form id="login-form"  #loginForm="ngForm" (ngSubmit)="onLoginFormSubmit(loginForm)">
          <md-input-container class="full-width-input">
            <input mdInput type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" [(ngModel)]="formInput.username" required>
          </md-input-container>
          <p></p>
          <md-input-container class="full-width-input">
            <input mdInput type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" [(ngModel)]="formInput.password" required>
          </md-input-container>
          <p></p>
          <button md-raised-button type="submit" class="btn btn-success"  [disabled]="!loginForm.valid">Submit</button>
          <button md-button type="reset">Clear</button>
        </form>
      </md-card-content>
    </md-card>
</div>
